---
dependencies: []
galaxy_info:
  role_name: {{ managed_role_name }}
  author: {{ my_name }}
  description: {{ role_description | default('role_description', true) }}
  company: None
  galaxy_tags: []
